/* Global Styles */
body,
html {
  height: 100vh;
  margin: 0;
}

/* Background Styles */
.background {
  position: relative;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #5f0c09, #060b4e);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Container Styles */
.container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2.5rem;
  padding: 3.8rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 18rem;
}

/* Header Styles */
.header_text {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #000000;
}

/* Form Styles */
.form_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.8rem;
}

/* Form Box Styles */
.form_box {
  position: relative;
}

.form_box label {
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  color: rgb(99, 102, 102);
  position: absolute;
  top: -0.55rem;
  left: 0.55rem;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Input Styles */
.input_value {
  padding: 0.6rem;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: 0;
  width: 18rem;
  background-color: transparent;
}

.input_error {
  border: 1px solid red;
}

/* Textarea Styles */
.text_area_box {
  resize: none;
  height: 6.2rem;
}

/* Floating Label Styles */
.input_value:placeholder-shown + label {
  top: 0.6rem;
  background-color: transparent;
}

.input_value:focus + label {
  top: -0.5rem;
  left: 0.5rem;
  background-color: #fff;
  color: #805b18;
  font-weight: 600;
  font-size: 0.75rem;
}

.input_value:focus {
  border-color: #805b18;
}

/* Button Container Styles */
.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

/* Activate Button Styles */
.btn_activate {
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
  border: none;
  outline: 0;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn_activate:hover {
  background-color: #805b18;
  color: #ffffff;
}

/* Deactivate Button Styles */
.btn_deactivate {
  padding: 0.6rem 1.2rem;
  border-radius: 1rem;
  border: none;
  outline: 0;
  font-size: 0.8rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
  background-color: #000000;
  color: #ffffff;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 9999;
  justify-content: center;
  align-items: center;
}

/* Confirmation Styles */
.confirmation {
  display: none;
  flex-direction: column;
}

.confirmation_text {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  text-align: center;
}

/* Loader Styles */
.socket {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}

.hex-brick {
  background: #000000;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.h2 {
  transform: rotate(60deg);
}

.h3 {
  transform: rotate(-60deg);
}

.gel {
  height: 30px;
  width: 30px;
  transition: all 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-gel {
  margin-left: -15px;
  margin-top: -15px;
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.c1 {
  margin-left: -47px;
  margin-top: -15px;
}

.c2 {
  margin-left: -31px;
  margin-top: -43px;
}

.c3 {
  margin-left: 1px;
  margin-top: -43px;
}

.c4 {
  margin-left: 17px;
  margin-top: -15px;
}

.c5 {
  margin-left: -31px;
  margin-top: 13px;
}

.c6 {
  margin-left: 1px;
  margin-top: 13px;
}

.c7 {
  margin-left: -63px;
  margin-top: -43px;
}

.c8 {
  margin-left: 33px;
  margin-top: -43px;
}

.c9 {
  margin-left: -15px;
  margin-top: 41px;
}

.c10 {
  margin-left: -63px;
  margin-top: 13px;
}

.c11 {
  margin-left: 33px;
  margin-top: 13px;
}

.c12 {
  margin-left: -15px;
  margin-top: -71px;
}

.c13 {
  margin-left: -47px;
  margin-top: -71px;
}

.c14 {
  margin-left: 17px;
  margin-top: -71px;
}

.c15 {
  margin-left: -47px;
  margin-top: 41px;
}

.c16 {
  margin-left: 17px;
  margin-top: 41px;
}

.c17 {
  margin-left: -79px;
  margin-top: -15px;
}

.c18 {
  margin-left: 49px;
  margin-top: -15px;
}

.c19 {
  margin-left: -63px;
  margin-top: -99px;
}

.c20 {
  margin-left: 33px;
  margin-top: -99px;
}

.c21 {
  margin-left: 1px;
  margin-top: -99px;
}

.c22 {
  margin-left: -31px;
  margin-top: -99px;
}

.c23 {
  margin-left: -63px;
  margin-top: 69px;
}

.c24 {
  margin-left: 33px;
  margin-top: 69px;
}

.c25 {
  margin-left: 1px;
  margin-top: 69px;
}

.c26 {
  margin-left: -31px;
  margin-top: 69px;
}

.c27 {
  margin-left: -79px;
  margin-top: -15px;
}

.c28 {
  margin-left: -95px;
  margin-top: -43px;
}

.c29 {
  margin-left: -95px;
  margin-top: 13px;
}

.c30 {
  margin-left: 49px;
  margin-top: 41px;
}

.c31 {
  margin-left: -79px;
  margin-top: -71px;
}

.c32 {
  margin-left: -111px;
  margin-top: -15px;
}

.c33 {
  margin-left: 65px;
  margin-top: -43px;
}

.c34 {
  margin-left: 65px;
  margin-top: 13px;
}

.c35 {
  margin-left: -79px;
  margin-top: 41px;
}

.c36 {
  margin-left: 49px;
  margin-top: -71px;
}

.c37 {
  margin-left: 81px;
  margin-top: -15px;
}

.r1 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
}

.r2 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
}

.r3 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.6s;
}

.r1 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.2s;
}

.r2 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.4s;
}

.r3 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: 0.6s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 0.6s;
}

/* Keyframes for Animations */
@keyframes pulse00 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.01);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fade00 {
  0% {
    background: #252525;
  }
  50% {
    background: #000000;
  }
  100% {
    background: #353535;
  }
}
